[submodule "sim/00-getting-started"]
	path = sim/00-getting-started
	url = git@github.com:DC-UFSCar/getting-started.git
[submodule "sim/00-getting-started-asm"]
	path = sim/00-getting-started-asm
	url = git@github.com:DC-UFSCar/getting-started-asm.git
[submodule "sim/01-getting-started-verilog"]
	path = sim/01-getting-started-verilog
	url = git@github.com:DC-UFSCar/getting-started.git
[submodule "sim/02-string-asm"]
	path = sim/02-string-asm
	url = git@github.com:DC-UFSCar/string-asm.git
[submodule "sim/03-register-memory"]
	path = sim/03-register-memory
	url = git@github.com:DC-UFSCar/register-memory.git
[submodule "sim/04-rf-test-bench"]
	path = sim/04-rf-test-bench
	url = git@github.com:DC-UFSCar/rf-test-bench
[submodule "sim/05-riscv-alu"]
	path = sim/05-riscv-alu
	url = git@github.com:DC-UFSCar/riscv-alu
